<ion-content [fullscreen]="true">
  <ion-alert
    [isOpen]="presentAlert"
    header="Deseja limpar a lista?"
    message="Essa ação removerá todas as tarefas cadastradas!"
    [buttons]="alertButtons"
    (didDismiss)="presentAlert = false"
  ></ion-alert>
  <ion-alert
    [isOpen]="presentAlertDelete"
    header="Deseja remover essa tarefa?"
    message="Essa ação não poderá ser desfeita!"
    [buttons]="alertButtonsDelete"
    (didDismiss)="presentAlertDelete = false"
  ></ion-alert>

  <ion-row class="ion-justify-content-between ion-padding">
    <ion-text>
      <h1><strong>Lista de tarefas</strong></h1>
    </ion-text>
    <ion-button (click)="createNewTask()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-row>
  
  <ion-row class="ion-padding-horizontal ion-justify-content-between ion-align-items-center">
    <ion-button color="danger" size="small" (click)="clearList()">Limpar lista</ion-button>
    <ion-button *ngIf="showPending; else showFinished" size="small" (click)="toggleTaskList(!showPending)">Mostrar Finalizadas</ion-button>
    <ng-template #showFinished>
      <ion-button size="small" (click)="toggleTaskList(!showPending)">Mostrar Abertas</ion-button>
    </ng-template>
  </ion-row>
  <ion-list style="margin: 0.5rem; padding: 0; border-radius: 6px; overflow-y: scroll;">
    <app-task-card 
      *ngFor="let task of taskList" 
      :key="task.id" 
      [task]="task" 
      (removeItemEvent)="deleteItem($event)"
      (callRefreshEvent)="refreshList($event)"
    />
  </ion-list>
</ion-content>